.select-header{
    display: flex;
    align-items: center;
}

.backBtn{
    width: 122px;
    height: auto;
    cursor: pointer;
    margin-right: 480px;
    margin-left: 110px;
    top: 100px;
    position: relative;
    z-index: 10; /* 다른 요소에 가려지지 않도록 설정 */

}

#title{
    font-family: "Paperlogy-7Bold";
    font-size: 45px;
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
}
