.PictureSize2-Picture-background {
    background-image: url('/public/images/PictureBg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.PictureSize2-Picture-background img {
    position: absolute;
}
/* 배경을 어둡게 하는 오버레이 */
.PictureSize2-dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* 어두운 반투명 배경 */
    z-index: 100;  /* 모달보다 아래 */
}

/* 모달 스타일 */
.PictureSize2-modal {
    width: 456px;
    height: 206px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.PictureSize2-2);
    z-index: 101;  /* 배경보다 위에 위치 */
}

.PictureSize2-picIcon {
    width: 41px;
    height: 37px;
}

.PictureSize2-text1 {
    font-family: 'Paperlogy-7Bold';
    font-size: 43px;
    color: #47322F;
}

.PictureSize2-text2 {
    font-family: 'Paperlogy-4Regular';
    font-size: 28px;
    color: #555555;
}

.PictureSize2-text3 {
    font-family: 'Paperlogy-7Bold';
    font-size: 28px;
    color: #DB4848;
}

.PictureSize2-photoZone {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PictureSize2-Photo-countdown {
    font-family: 'Paperlogy-7Bold';
    font-size: 43px;
    color: #fff;
}

.PictureSize2-shutterBtn {
    width: 60px;
    height: 60px;
    margin-top: 813px;
}

.PictureSize2-shutterdescription {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 22px;
    color: #A1A1A1;
    margin-top: 80px;
}

.PictureSize2-photo {
    width: 502px;
    height: 665px;
    object-fit: cover;
}

/* 첫 번째 사진 (왼쪽 위) */
.PictureSize2-photo1 {
    width: 245px;
    height: 337px;
    object-fit: cover;
    top: 102px;
    right: 402px;
}

/* 두 번째 사진 (오른쪽 위) */
.PictureSize2-photo2 {
    width: 245px;
    height: 337px;
    object-fit: cover;
    top: 102px;
    right: 152px;
}

/* 세 번째 사진 (왼쪽 아래) */
.PictureSize2-photo3 {
    width: 245px;
    height: 337px;
    object-fit: cover;
    top: 485px;
    right: 402px;
}

/* 네 번째 사진 (오른쪽 아래) */
.PictureSize2-photo4 {
    width: 245px;
    height: 337px;
    object-fit: cover;
    top: 485px;
    right: 152px;
}

.PictureSize2-frame {
    width: 540px;
    height: 805px;
    top: 60px;
    right: 130px;
    z-index: 10;  /* 프레임을 더 앞으로 배치 */

}