.Picture-background {
    background-image: url('/public/images/PictureBg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.Picture-background img {
    position: absolute;
}
/* 배경을 어둡게 하는 오버레이 */
.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* 어두운 반투명 배경 */
    z-index: 100;  /* 모달보다 아래 */
}

/* 모달 스타일 */
.modal {
    width: 456px;
    height: 206px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 101;  /* 배경보다 위에 위치 */
}

.picIcon {
    width: 41px;
    height: 37px;
}

.text1 {
    font-family: 'Paperlogy-7Bold';
    font-size: 43px;
    color: #47322F;
}

.text2 {
    font-family: 'Paperlogy-4Regular';
    font-size: 28px;
    color: #555555;
}

.text3 {
    font-family: 'Paperlogy-7Bold';
    font-size: 28px;
    color: #DB4848;
}

.photoZone {
    padding: 1px;
    width: 900px;
    text-align: center;
}

.Photo-countdown {
    font-family: 'Paperlogy-7Bold';
    font-size: 43px;
    color: #fff;
}

.Photo-finishText {
    visibility: hidden; /* 화면에서는 안 보이지만 공간 유지 */
}

.photo {
    width: 502px;
    height: 665px;
    object-fit: cover;
}

.resultZone {
    position: relative;
}

/* 개별 사진 위치 조정 */
.takenPhoto {
    width: 245px;
    height: 337px;
    object-fit: cover;
    position: absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* 첫 번째 사진 (왼쪽 위) */
.photo1 {
    top: -640px;
    right: 402px;
}

/* 두 번째 사진 (오른쪽 위) */
.photo2 {
    top: -640px;
    right: 150px;
}

/* 세 번째 사진 (왼쪽 아래) */
.photo3 {
    bottom:-80px;
    right: 402px;
}

/* 네 번째 사진 (오른쪽 아래) */
.photo4 {
    bottom:-80px;
    right: 150px;
}

.frame {
    width: 540px;
    height: 805px;
    top: -685px;
    right: 130px;
    z-index: 10;  /* 프레임을 더 앞으로 배치 */

}