.gallery-background {
    background-image: url('/public/images/galleryBg.png');
  display: flex;
  flex-direction: column;
  gap: 152px;
  padding-top: 400px;
  align-items: center;
  padding-bottom: 150px;
}
