.selectSize-background {
    background-image: url('/public/images/sizeChoiceBg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.selectSize-background img {
    position: absolute;
}

.backBtn{
    width: 122px;
    height: auto;
    cursor: pointer;
    margin-right: 480px;
    margin-left: 110px;
    top: 100px;
    position: relative;
    z-index: 10; /* 다른 요소에 가려지지 않도록 설정 */
}

#title{
    font-family: "Paperlogy-7Bold";
    font-size: 45px;
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
}

.size1{
    width: 414px;
    height: 614px;
    top: 200px;
    left: 230px;
}
.size2{
    width: 598px;
    height: 614px;
    top: 200px;
    left: 700px;
}

.countdown-timer {
    position: absolute;
    top: 100px;
    right: 90px;
    font-size: 45px;
    font-family: "Paperlogy-6SemiBold";
    color: #FFE852;
  }
  